params {

    samples = "./data/her2_samples.csv"
    id_mapping = "./data/id_mappings.csv"

    bam_path_normal = "/juno/work/access/production/data/bams/{cmo_patient_id}/{cmo_sample_id_normal}/current/{cmo_sample_id_normal}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX.bam"
    bam_path_plasma_duplex = "/juno/work/access/production/data/bams/{cmo_patient_id}/{cmo_sample_id}/current/{cmo_sample_id}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX-duplex.bam"
    bam_path_plasma_simplex = "/juno/work/access/production/data/bams/{cmo_patient_id}/{cmo_sample_id}/current/{cmo_sample_id}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX-simplex.bam"

    bam_path_index_normal = "/juno/work/access/production/data/bams/{cmo_patient_id}/{cmo_sample_id_normal}/current/{cmo_sample_id_normal}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX.bai"
    bam_path_index_duplex = "/juno/work/access/production/data/bams/{cmo_patient_id}/{cmo_sample_id}/current/{cmo_sample_id}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX-duplex.bai"
    bam_path_index_simplex = "/juno/work/access/production/data/bams/{cmo_patient_id}/{cmo_sample_id}/current/{cmo_sample_id}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX-simplex.bai"

    maf_path = "/juno/work/access/production/data/small_variants/{cmo_patient_id}/{cmo_sample_id}/current/{cmo_sample_id}.DONOR22-TP.combined-variants.vep_keptrmv_taggedHotspots_fillout_filtered.maf"
    cna_path = "/juno/work/access/production/data/copy_number_variants/{cmo_patient_id}/{cmo_sample_id}/current/{cmo_sample_id}_copynumber_segclusp.genes.txt"
    sv_path = "/juno/work/access/production/data/structural_variants/{cmo_patient_id}/{cmo_sample_id}/current/{cmo_sample_id}_AllAnnotatedSVs.txt"

    dmp_dir = "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme"
    mirror_bam_dir = "/juno/dmp/share/irb12_245"
    mirror_access_bam_dir = "/juno/dmp/share/access_12_245"
    dmp_key_path = "/juno/dmp/request/12-245/key.txt"
    access_key_path = "/juno/dmp/request/ACCESS-12-245/key.txt"


    pooled_bam_dir = "/juno/work/access/production/resources/msk-access/current/novaseq_curated_duplex_bams_dmp/current/"
    fasta_path = "/juno/work/access/production/resources/reference/current/Homo_sapiens_assembly19.fasta"
    genotyper_path = "/work/access/production/resources/tools/GetBaseCountsMultiSample/current/GetBaseCountsMultiSample"
    bam_paths = "bam_paths.csv"
    real_bam_paths = "real_bam_paths.csv"
    missing_paths = "missing_paths.csv"  
    clinical_bams = "clinical_paths.csv"
}