params {
    samples = "./data/her2_samples.csv"
    id_mapping = "./data/id_mappings.csv"
     
    bam_paths = "bam_paths.csv"
    real_bam_paths = "real_bam_paths.csv"
    missing_paths = "missing_paths.csv"  

    pooled.bam.dir = "/juno/work/access/production/resources/msk-access/current/novaseq_curated_duplex_bams_dmp/current/"
    fasta.path = "/juno/work/access/production/resources/reference/current/Homo_sapiens_assembly19.fasta"
    genotyper.path = "/work/access/production/resources/tools/GetBaseCountsMultiSample/current/GetBaseCountsMultiSample"
    dmp.dir = "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme"
    mirror.bam.dir = "/juno/dmp/share/irb12_245"
    mirror.access.bam.dir = "/juno/dmp/share/access_12_245/"
    dmp.key.path = "/juno/dmp/request/12-245/key.txt"
    access.key.path = "/juno/dmp/request/ACCESS-12-245/key.txt"
}